<div class="container-fluid p-3">
  <h2>{{title}}</h2>
</div>
<div class="container-fluid border-top rounded p-5 mb-3">
  <div class="container-fluid mb-3">
    <h4>Check my Social Media Accounts here!</h4>
    <div class="container mb-3 p-3 row">
      <div class="col">
        <img src="../../assets/Images/image5.jpg" width="200px" class="rounded float-start" alt="...">
      </div>
      <div class="container col p-3">
        <a href="https://bit.ly/jakerebullo" target="_blank" class="btn"><i
            class="bi bi-facebook p-3"></i>Facebook</a>
        <br>
        <a href="https://bit.ly/3MKU3mz" target="_blank" class="btn"><i
            class="bi bi-twitter p-3"></i>Twitter</a>
        <br>
        <a href="https://bit.ly/jake-rebullo" target="_blank" class="btn"><i
            class="bi bi-linkedin p-3"></i>LinkedIn</a>
        <br>
        <a href="tel: +63(998-9285-593)" target="_blank" class="btn"><i
            class="bi bi-telephone p-3"></i>Call Me</a>
      </div>
      <div class="container col p-3">
        <a href="https://bit.ly/36WTd6I" target="_blank" class="btn"><i
            class="bi bi-discord p-3"></i>Discord</a>
        <br>
        <a href="https://bit.ly/3LgcLSm" target="_blank" class="btn"><i
            class="bi bi-github p-3"></i>Github</a>
        <br>
        <a href="https://bit.ly/3OIk3k1" target="_blank" class="btn"><i
            class="bi bi-instagram p-3"></i>Instagram</a>
        <br>
        <a href="mailto:jakerebullo@gmail.com" target="_blank" class="btn"><i
            class="bi bi-envelope p-3"></i>Email</a>
      </div>
    </div>
  </div>
</div>
<div class="container rounded border-top p-5 linear-gradient">
  <form action="">
    <div class="mb-3">
      <h4>Feel free to contact me.</h4>
      <br>
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="contact.email" name="email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="contact.text"
        name="text"></textarea>
    </div>
    <p *ngFor="let alert of alerts">
      <ngb-alert [dismissible]="false" [type]="alert.type">{{ alert.message }}</ngb-alert>
    </p>
    <button type="button" class="btn btn-success d-grid gap-2 mx-auto" (click)="(Submit())">Submit</button>
    <input type="hidden" [value]="contact.date | date: 'medium'">
  </form>
</div>
<div class="container">

</div>
<div *ngIf="">
  <app-message-list></app-message-list>
</div>