<div class="container p-3 row ">
    <div class="container">
        <img src="../../assets/" width="300px" height="auto" class="rounded" alt="...">
        <div class="container-sm">
            <h4>Rebullo, Jake V.</h4>
            <p>BS Information Technology</p>
        </div>
    </div>
</div>
<div class="container p-3 row border rounded">
    <div class="col-2 p-3 rounded">
        <ul class="nav nav-pills nav-fill flex-column p-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/profile/overview']">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/work-education']">Work and Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/hobbies']">Hobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/skills']">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/profile/samples']">Sample Outputs</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
        <router-outlet name="profile" ></router-outlet>
</div>