<div class="container-fluid p-3">
    <h2>{{title}}</h2>
  </div>
<div class="container-fluid p-3 mb-3">
    <div class="container p-3">
        <form>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Full Name</label>
                <div class="col-sm-10">
                    <input type="text" [readonly]="readOnly" class="form-control-plaintext" id="fullName"
                        name="fullName" [(ngModel)]="overview.fullName">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" [readonly]="readOnly" class="form-control-plaintext" id="email" name="email"
                        [(ngModel)]="overview.email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                    <input type="text" [readonly]="readOnly" class="form-control-plaintext" id="location"
                        name="location" [(ngModel)]="overview.location">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Birthday</label>
                <div class="col-sm-10">
                    <input type="text" [readonly]="readOnly" class="form-control-plaintext" id="birthDay" name="birthday"
                        [value]="overview.birthDate |  date: 'longDate'">
                </div>
            </div>
            <!-- <button type="button" class="btn btn-dark rounded col" (click)="edit()">{{editStatus}}</button> -->
        </form>
    </div>
</div>